#Clock-Container {
    position:relative;
    margin:auto;
    width:40vw;
    height:40vw;
    background:url(clock.png);
    background-size: 100%;
    border: 2px solid red
}

#hour,
#min,
#second{
    position:absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour {
    height:135px;
    width:10px;
    top:137px;
    left:266.5px;
}

#min {
    height:165px;
    width:10px;
    top:115px;
    opacity: 0.5;
    left:266.5px;
}

#second{
    height:210px;
    width:10px;
    top:71px;
    opacity: 0.1;
    left:265px;
    
}